<div class="show-header">J's Auto Inc.</div>
<div class="contactPage-text">With over 25 Years Experience, we at J's Auto Inc. strive to give our customers the best service possible. From Auto Sales, Body Shop, Mechanical Service's and NY State Inspections, we have the equipment to get the Job done. Need a Tow? Two Tow Trucks are available 24hrs/7 Days a week!. Now Available is Credit Acceptance! Good Credit? Bad Credit? No Credit? No hassle Guaranteed 1 Minute Approval. Great Rates and Excellent Reliable Vehicles and Service!</div>
