<h1>J's Auto</h1>
<p>You can contact us via email at (insert email address here) or by phone at (insert phone number here) or by visitin one of our several locations at:</p>
<p>J's Auto<br />Oriskany Blvd<br />Utica, NY 13322</p>