<% @images.each do |image| %>
	<% if image.car_id != nil && image.car_id == @car.id %>
		<div class="img-thumbnail">
			<%= image_tag image.extrapic.url(:thumb), alt: image.extrapic.url(:thumb) %><br />
			<%= link_to 'Destroy', image,  method: :delete, data: { confirm: 'Are you sure you want to delete this picture?' }, class: "btn btn-link" %>
		</div>
	<% end %>
<% end %>

  