<div class="row">
	<div class="col-md-2 col-md-offset-2"><h1>Editing Car</h1></div>
</div>

<%= render 'form' %>

<div class="row">
  	<div class="col-md-2 col-md-offset-2"><%= link_to 'Show', @car, class: "btn btn-link" %> | <%= link_to 'Back', cars_path, class: "btn btn-link" %></div>
</div>

